

.titulo-midia{
    display: flex;
    justify-content: center;
}
.titulo-midia h2{
    font-size: 30px;
    font-weight: 500;
}
.logo-midia{
    display: flex;
    justify-content: space-around;
}
/* vagas */
.vagas{
    display: flex;
    justify-content: center;
    

    padding: 100px;
}
.imagens-vagas img{
    height: 200px;
    
}
.conteudo-vagas{
    display: flex;
}
.itens-vagas{
    display: flex;
    flex-direction: column;
    background-color: #ffee75;
    

    width: 600px;
    height: auto;
    border-radius: 10px;
    padding: 100px;
    margin-top: -80px;
    margin-bottom: -100px;
    
}
.itens-vagas h2{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
}
.itens-vagas li{
    font-size: 18px;
    color: #575757;
    font-weight: 500;
    padding-bottom: 10px;
}
.itens-vagas button{
    height: 60px;
    width: 300px;
    border: none;
    border-radius: 10px;
    background-color: #0e73e8;
    cursor: pointer;
    transition: all .2s ease-out;
   
}
.itens-vagas button:hover{
    background-color: #0b54a7;
    border: 2px solid #0e73e8;
}
.itens-vagas a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.container-vagas{
    display: flex;
    flex-direction: column;
}


